* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255)
  }
  
  html {
    scroll-behavior: smooth;
    /* background-image: linear-gradient(120deg, #ffffff 0%, #ffffff 100%); */
    /* background: url("../img/portfolioBackgroundv3.jpg") no-repeat center center fixed; */
    background-size: cover;
  }
  
  h1 {
    font-size: 3em;
    color: rgb(255, 255, 255)
  }
  
  h2 {
    font-size: 2em;
    color: rgb(255, 255, 255)
  }
  
  h3 {
    font-size: 2em;
    color: rgb(255, 255, 255)
  }
  
  p {
    font-style: normal;
  }
  
  .navbar {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding: 2% 6%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #708090;
    width: 100%;
  }
  
  
  .nav-links {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
  
  .nav-links ul li {
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(0, 255, 200);
    display: block;
    margin: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  section.welcome {
    padding: 30px;
    background: url("../img/portfolioBackgroundv4.jpg") no-repeat center center fixed;
  }
  
  div.text-box-welcome {
    margin:0 auto;
    width: 50%;
    text-align: center;
  }
  
  .text-box-welcome h1 {
    padding: 100px 0px;
  }
  
  .text-box-welcome h2 {
    padding: 50px 0px 10px 0px;
  }
  
  .text-box-welcome p {
    margin: 10px 0 40px;
    line-height: 2rem;
    text-align: justify;
    padding: 50px 0px 150px 0px;
    color: rgb(255, 255, 255);
  }
  
  .profile_photo {
    max-width:400px;
    width: auto;
    height: auto;
    border-radius: 20%;
  }
  
  .curriculum {
    width: 350px;
    margin-top: 350px;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 24px 36px;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .curriculum:hover {
    border: 5px solid rgb(0, 0, 0);
    -webkit-box-shadow: black 10px 10px 10px;
            box-shadow: black 10px 10px 10px;
  }
  
  .index-button {
    width: 350px;
    margin-top: 250px;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 24px 36px;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .index-button:hover {
    border: 5px solid rgb(0, 110, 255);
    -webkit-box-shadow: black 10px 10px 10px;
            box-shadow: black 10px 10px 10px;
  }
  
  div.text-box-webdevelopment {
    margin:0 auto;
    width:50%;
    text-align: center;
  }
  
  .text-box-webdevelopment h2 {
    padding: 100px 0px 0px 0px;
  }
  
  .text-box-webdevelopment p {
    color: rgb(0, 0, 0);
    margin: 10px 0 40px;
    padding: 100px 30px;
    line-height: 2rem;
    text-align: justify;
  }
  
  div.text-box-codingskills {
    color: rgb(0, 0, 0);
    margin:0 auto;
    width: 50%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-box-codingskills h1 {
    color: rgb(0, 0, 0);
    padding: 100px 0px;
  }
  
  .coding-icons img {
    width: 75px;
      height: 75px;
      margin-bottom: 30px;
      text-align: center;
      padding: 10px 0px;
      -webkit-filter: grayscale(0);
              filter: grayscale(0);
      -webkit-box-shadow: black 10px 10px 10px;
              box-shadow: black 10px 10px 10px;
              border: solid black 1px;
      background-color: #ffffff;
  }
  
  div.text-box-projects {
    background: rgb(76, 85, 92);
    border: solid black 1px;
    margin:0 auto;
    width: 50%;
    text-align: center;
    padding: 10px 0px;
  }
  
  .text-box-projects h2 {
    color: rgb(255, 255, 255);
    padding: 50px 0px;
    text-align: center;
    padding: 100px 0px;
  }
  
  .text-box-projects p {
    margin: 10px 0 40px;
    line-height: 2rem;
    padding: 100px 30px;
  }

  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack:baseline;
        -ms-flex-pack:baseline;
            justify-content:baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .github {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack:baseline;
        -ms-flex-pack:baseline;
            justify-content:baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .github-projects {
    -webkit-box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
    text-align: center;
    min-height: 300px;
    min-width: 300px;
    -webkit-filter: grayscale(1) blur(3px);
            filter: grayscale(1) blur(3px);
    border: solid black 1px;
    background-color: #505a61;
  }
  
  span.projects-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0px;
  }
  
  img {
    width: 100%;
  }
  
  .github-projects:hover {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-box-shadow: black 10px 10px 10px;
            box-shadow: black 10px 10px 10px;
  }
  
  .github-projects p {
    color: rgb(255, 255, 255);
    text-align: justify;
    padding: 20px 20px;
    min-height: 200px;
  }
  
  .github-projects i {
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-left: 10px ;
    padding: 10px 0px;
  }
  
  .header-icon {
    margin: 0px 10px;
  }
  
  section.contact {
    padding: 30px;
    background: url("../img/portfolioBackgroundv4.jpg") no-repeat center center fixed;
  }
  
  div.text-box-contact {
    margin:0 auto;
    text-align: center;
    min-height: 250px;
  }
  
  .text-box-contact h1 {
    padding: 100px 0px;
  }
  
  .text-box-contact p {
    padding: 50px 0px;
    margin: 80px;
    font-size: 1.5em;
  }
  
  .mail-contact-button {
    color: rgb(255, 255, 255);
    width: 150px;
    padding: 100px 0px;
    margin-top: 100px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 24px 36px;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .mail-contact-button:hover {
    border: 5px solid rgb(0, 119, 255);
    -webkit-box-shadow: black 10px 10px 10px;
            box-shadow: black 10px 10px 10px;
  }
  
  .contact-icons {
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size: 3em;
    letter-spacing: 15px;
  }
  
  .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 120px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #192733;
    padding: 5px;
    z-index: 1;
  }
  
  .icon:hover .tooltip {
    visibility: visible;
  }
  
  .icon {
    position: relative;
    display: inline-block;
    margin: 10px;
    text-align: center;
  }
  
  #bottom {
    top: 50px;
    left: -55%;
  }
  
  #bottom::before {
    top: -5%;
    left: 25%;
  }
  
  .fa-solid.fa-at:hover {  
    -webkit-transform: rotate(360deg);  
        -ms-transform: rotate(360deg);  
            transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.7s ease-in-out 0s;
    transition: -webkit-transform 0.7s ease-in-out 0s;
    -o-transition: transform 0.7s ease-in-out 0s;
    transition: transform 0.7s ease-in-out 0s;
    transition: transform 0.7s ease-in-out 0s, -webkit-transform 0.7s ease-in-out 0s;
  }
  
  .fa-brands.fa-square-github:hover, .fa-brands.fa-github:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
    transition: -webkit-transform 0.5s ease-in-out 0s;
    -o-transition: transform 0.5s ease-in-out 0s;
    transition: transform 0.5s ease-in-out 0s;
    transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  }
  
  #topButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(49, 46, 46); 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 20px; 
  }
  
  #topButton:hover {
    background-color: rgb(0, 119, 255);
  }
  
  @media only screen and (max-width: 400px) {
    div.text-box-projects, div.text-box-welcome, div.text-box-codingskills, div.text-box-webdevelopment, div.text-box-contact {
    width: 100%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .profile_photo {
    width: 100%;
    }
  }
  
  .reveal {
    position: relative;
    -webkit-transform: translateY(150px);
        -ms-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
    -webkit-transition: 2s all ease;
    -o-transition: 2s all ease;
    transition: 2s all ease;
  }
  .reveal.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  body {
    background: linear-gradient( #364147);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }